
video{

    width: 100%;
}

/* .main{

    position: relative;

} */

.lineabove{

    position: absolute;
    bottom: 15%;
    /* height: 45vh; */
    left: 45vh;

   color: aliceblue;

   width: 50vw;

   
}

.font-face-gm{

    /* font-family: "SingleTangelo"; */

    width: 40vw;


    font-family: 'TheGlobePersonalUseBold-2ORlw';
   font-weight: bolder;
   font-size: 600%;


}

.nicheline{


    /* font-family: 'arelost'; */
    padding-left: 2vw;
    font-weight: bolder;
    font-size: 200%;
}
@media only screen and (max-width: 600px) {
    .font-face-gm {
  
      font-weight: bolder;
      font-size: 120%;
   
    }

    .lineabove{

        position: relative;
        left: 13vh;
        top: -9vh;
    }

    .nicheline{


        font-weight: bolder;
        font-size: 190%;
        transform: translateX(-2vw);
    }

    video{

        transform: translateY(10vh);
    }
  }